html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.App{
 display: grid;
 grid-template-columns: repeat(2fr);
}
.widget-size {
  width: 500px;
  height: 300px;
  background-color: #f3f3f3;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow-y: auto;
}

.sales-by-countries-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: Arial, sans-serif;
  border-spacing: 0;
  border-radius: 5px;
}

.sales-by-countries-table td,
.sales-by-countries-table th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.sales-by-countries-table th {
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
}

.sales-by-countries-table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

.sales-by-countries-table tbody td:last-child,
.sales-by-countries-table tbody tr:last-child td:first-child {
  text-align: left;
  font-weight: bold;
}

.sales-by-countries-table tbody tr:last-child td:nth-child(2) {
  text-align: left;
}

.sales-by-countries-table tbody tr:hover {
  background-color: #F5F5F5;
}
.sales-by-countries-table tbody td,
.sales-by-countries-table tbody th {
  min-width: 0;
  width: 50%;
}
.country-flag{
  width: 20px;
}
.img-td{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap:10px;
}
.sales-by-countries-container{
  border-radius: 20px;
}
.sales-by-countries-container::-webkit-scrollbar {
  width: 2px;
  height:200px;
}

.sales-by-countries-container::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255); 
  border-radius: 0px; 
  height:200px;
}

.sales-by-countries-container::-webkit-scrollbar-track {
  background-color: #ffffff; 
}
.headfour{
  color: #f3f3f3;
}
/*  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.user-table th,
.user-table td {
  padding: 12px;
  text-align: left;
}

.user-table th {
  font-weight: 600;
  color: white;
  background-color: #46c0cd;
}

.user-table tr:nth-child(even) {
  background-color: #f8f8f8;
}

.user-table tr:hover {
  background-color: #d6eaf8;
  cursor: pointer;
}

.user-table tr:hover td {
  color: #333;
}

.user-table tr:first-child:hover {
  background-color: #46c0cd;
}

.user-table tr:first-child:hover th {
  background-color: #46c0cd;
}

